target/
build/
TAGS
.dep

doc/book/
Cargo.lock
input
output

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
lib/**/Cargo.lock

ext/fat32-imgs/*.fat32.img

notes/

kern/.gdbinit
doc/src/research.md
